/*h1{
color:purple;
text-align:center;
text-decoration:underline;
font-size:25px;
font-family:Gergia,'Times New Roman';
font-style:italic;
}

.mydesign{
color:orange;
text-align:right;
text-decoration:underline;
font-size:30px;
font-family:'Gill Sans';
font-style:italic;
}

#yourdesign
{
color:red;
text-align:right;
text-decoration:overline;
font-size:30px;
font-family:'Gill Sans';
font-style:italic;
}*/



